php_value session.auto_start 0
#Limits for file processing
php_value memory_limit -1
php_value realpath_cache_size 5M
php_value max_execution_time 0
php_value max_input_time 0
php_value session.gc_maxlifetime 259200
php_value upload_max_filesize 0
php_value post_max_size 0

# PHP error handling for development servers
#php_flag display_startup_errors on
php_flag display_errors on
#php_flag html_errors on
php_flag log_errors on
php_value error_reporting on
#php_value error_reporting 1 #E_ERROR
#php_value error_reporting 4 #E_PARSE
#php_value error_reporting 8 #E_NOTICE
#php_value error_reporting 32 #E_CORE_WARNING
#php_value error_reporting 64 #E_COMPILE_ERROR
#php_flag ignore_repeated_errors off
#php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
#php_value docref_root 0
#php_value docref_ext 0
php_value error_log php_errors.log
# [see footnote 3] # php_value error_reporting 999999999
php_value error_reporting -1
#php_value log_errors_max_len 0
php_value date.timezone "America/New_York"

<Files php_errors.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>

