commands:

  01mount:

    command: " mount /dev/sdb /var/app/ephemeral0"
    ignoreErrors: true

  02mount:

    command: " mount /dev/sdc /var/app/ephemeral1"
    ignoreErrors: true

  01mkdir:

    command: " mkdir /var/app/ephemeral0"
    ignoreErrors: true

  01chmod:

    command: " chmod 777 /var/app/ephemeral0"
    ignoreErrors: true

  02mkdir:

    command: " mkdir /var/app/ephemeral1"
    ignoreErrors: true

  02chmod:

    command: " chmod 777 /var/app/ephemeral1"
    ignoreErrors: true

option_settings:

  - namespace: aws:autoscaling:launchconfiguration

    option_name: BlockDeviceMappings

    value: /dev/sdb=ephemeral0, /dev/sdc=ephemeral1